@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BR Firma;
  src: url(lib/FontsFree-Net-BRFirma-Regular.ttf);
}
body {
  margin: 0;
  font-family: -apple-system, BR Firma, BlinkMacSystemFont,  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
